<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>9games</title>

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Alegreya+SC:700,400italic' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="css/hover.css" />
	</head>

	<body ng-app="nine-games" ng-controller="gamesController">


		<div class="nav">
			<a href="#" ng-class="{active: active == 'home'}" ng-click="active = 'home'">Home</a>
			<a href="#" ng-class="{active: active == 'games'}" ng-click="active = 'games'">Games</a>
			<input type="text" ng-model="searchString" placeholder="Search for games" />
		</div>
		


		<div align="center">
		<ul id="da-thumbs" class="da-thumbs" ng-show="active == 'home'">
			<li ng-repeat="game in games | searchFor:searchString">
				<a href="#">
				<img ng-src="{{game.thumbnail}}" />
				<div><span>{{game.name}}</span>
				{{game.popularity}}</div>
				</a>
				<div><span>{{game.description | limitTo:numLimit[$index] }}</span>
				<a href="#" ng-show="read[$index]"  ng-click="readMore($index)">read more</a>
				<a href="#" ng-hide="read[$index]" ng-click="readLess($index)">read less</a></div>
			</li>
			<li ng-style='{"height":"230px"}' ng-hide="searchString">
				<a href="#" ng-class="{active: active == 'games'}" ng-click="active = 'games'">
				<img src="assets/more_games.jpg" />
				<div><span>More games</span></div>
				</a>
			</li>
		</ul>
		
		<ul id="da-thumbs" class="da-thumbs" ng-show="active == 'games'">
			<li ng-repeat="game in games2 | searchFor:searchString">
				<a href="#">
				<img ng-src="{{game.thumbnail}}" />
				<div><span>{{game.name}}</span></div>
				</a>
			</li>
		</ul>
        </div>
		
		<script src="js/angular.min.js"></script>
		<script src="js/angular-resource.min.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
